html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.ui-front.ui-autocomplete {
    z-index: 1060;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.manga-list {
    clear: left;
}
.manga-list .manga {
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    position: relative;
    float:left;
}
.manga-list .manga.manga-favorite, .manga-list .manga.manga-favorite .status {
    border-color: #ffd038;
}
.manga-list .manga.manga-favorite .info .bg, .manga-list .manga.manga-favorite .status {
    background-color: #ffe590;
}

.manga-list .manga.manga-hide, .manga-list .manga.manga-hide .status {
    border-color: #ff5544;
}
.manga-list .manga.manga-hide .info .bg, .manga-list .manga.manga-hide .status {
    background-color: #ffb0a4;
}

.manga-list .manga.manga-started, .manga-list .manga.manga-started .status {
    border-color: #4effbe;
}
.manga-list .manga.manga-started .info .bg, .manga-list .manga.manga-started .status {
    background-color: #d4ffec;
}

.manga-list .manga.manga-deferred, .manga-list .manga.manga-deferred .status {
    border-color: #feff31;
}
.manga-list .manga.manga-deferred .info .bg, .manga-list .manga.manga-deferred .status {
    background-color: #fbffc6;
}


.manga-list .manga .info .genres {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100%;
    background-color: rgba(255, 255, 255, 0.84);
    padding: 3px;
    color: #0000aa;
    display: none;
}
.manga-list .manga:hover .info .genres {
    display: block;

}
.manga-list .manga .status {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    border-radius: 5px 0 5px 0;
    border: 1px solid transparent;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px 4px;
    opacity: 0.9;
}
.manga-list .manga .info{
    position: absolute;
    z-index: 3;
    left: 0px;
    width: 100%;
    bottom: 0px;
}
.manga-list .manga .info .bg {
    border-top:1px solid #c6c6c6;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 0px 0px 3px 3px ;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
}
.manga-list .manga .info .title {
    padding: 3px 0px 3px 7px;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
}
.manga-list .manga .info .menu {
    float: right;
    position: relative;
    z-index: 4;
    border-bottom-width: 0;
}
.manga-list .manga .info .menu .glyphicon{
    padding: 4px;
    border-radius: 3px 3px 0 0;
    margin: 2px 2px 0 0;
    position: relative;
    z-index: 4;
}
.manga-list .manga .info .menu:hover .glyphicon{
    padding: 3px 3px 4px 3px;
    border: 1px solid #c6c6c6;
    border-bottom-width: 0;
    background-color: white;
}
.manga-list .manga .info .menu .menu-items {
    display: none;
    position: absolute;
    top:24px;
    left: auto;
    right: -5px;
    z-index: 3;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    background-color: white;
    width: 128px;
    margin: 0;
}
.manga-list .manga .info .menu .menu-items .active a{
    color: black;
    background-color: #ffb624;
    border-top: 2px solid #dc9300;
    border-bottom: 2px solid #ffd685;
    padding: 1px 20px;
}
.manga-list .manga .info .menu .menu-items li {
}
.manga-list .manga .info .menu:hover .menu-items{
    display: block;
}
.manga-list .manga .info .title a,.manga-list .manga .info .title a:hover{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.manga-list .manga .avatar {
    height: 284px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    display: block;
}

.manga-view .avatar {
    height: 284px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    float: left;
    box-shadow: 0 0 2px gray;
}
.manga-view .manga-seasons .btn {
    min-width: 200px;

}
.manga-view .manga-chapters {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
}
.manga-view .manga-chapters.manga-chapters-visible {
    display: flex;
}
.manga-view .manga-chapters  a{
    width:200px;
    text-align: left;
}